body {
	font-family: Georgia, Arial, serif;
	margin-bottom: 40px;
	min-width: 200px;
	margin-top: 40px;
	min-height: 10px;
}
body > section[data-page="options"],
body > nav ._trigger[data-trigger-value="ext"],
body.started > nav ._trigger[data-trigger="start"],
body.stopped > nav ._trigger[data-trigger="stop"] {
	display: none;
}

body.page-options > section[data-page="options"],
body.page-options > nav ._trigger[data-trigger-value="ext"] {
	display: inherit;
}
body.page-options > section[data-page="ext"],
body.page-options > nav ._trigger[data-trigger-value="options"] {
	display: none;
}
.button {
	cursor: pointer;
	text-decoration: underline;
}
nav {
	position: absolute;
  	top: 0;
  	left: 0;
  	background-color: #F7F7F7;
  	right: 0;
  	display: flex;
}
nav > span {
	box-sizing: border-box;
	text-align: center;
	text-transform: capitalize;
	color: #A7A7A7;
	font-size: 11px;
	font-weight: bold;
	/* Adjust when adding columns */
	padding: 10px;
}
header {
	margin-bottom: 10px;
}
#startscreen {
	background-color: rgba(0,0,0,0.8);
	color: white;
	position: absolute;
	left: 0;
	right: 0;
	top: 30px;
	bottom: 30px;
	z-index: 999;
	text-align: center;
	font-size: 25px;
	padding-top: 20%;
	display: none;
}
.title {
	line-height: 30px;
	margin: 0;
	font-size: 18px;
	padding: 0;
}
/*.thebutton-pie-container, .thebutton-container {
  background: #eaeaea;
  border: 1px solid #E0E0E0;
  box-shadow: inset 0px 1px 1px 0px rgba(73,73,73,0.1);
  border-radius: 5px;
}
#thebutton {
  margin: 10px;
  height: 40px;
  width: 170px;
  transform: translate(0,-4px);
  transition: all 0.1s;
  position: relative;
  color: #555;
}
#thebutton.thebutton-style {
	outline: none;
	background-color: #24a0ed;
	color: white;
  background-image: linear-gradient(-180deg,rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
  border: 1px solid #1394e5;
  box-shadow: 0px 4px 0px 0px #0f76b6,0px 0px 0px 0px rgba(255,255,255,0.6),0px 6px 4px 0px rgba(0,0,0,0.3),inset 0px 1px 0px 0px rgba(255,255,255,0.2);
  border-radius: 5px;
}
.thebutton-text {
	text-decoration: underline;
	position: absolute;
	font-size: 16px;
	top: 10px;
	left: 12px;
	right: 0;
}*/
.main-content {
	text-align: center;
}
.time-wrapper {
	font-size: 16px;
}
.participants {
	  color: rgb(115, 115, 115);
	  font-size: 11.9999990463257px;
	  font-style: normal;
	  font-variant: normal;
	  font-weight: normal;
	  height: auto;
	  text-align: right;
	  white-space: nowrap;
	  float: right;
	  margin-top: 10px;
}
footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #F7F7F7;
	color: #A7A7A7;
	padding: 10px;
	font-size: 10px;
}
footer > ._trigger {
	float: right;
}