body {
	font-family: Georgia, Arial, serif;
	margin-bottom: 40px;
	min-width: 200px;
	margin-top: 40px;
	min-height: 10px;
}
body > section[data-page="options"],
body > nav ._trigger[data-trigger-value="ext"],
body.started > nav ._trigger[data-trigger="start"],
body.stopped > nav ._trigger[data-trigger="stop"] {
	display: none;
}

body.page-options > section[data-page="options"],
body.page-options > nav ._trigger[data-trigger-value="ext"] {
	display: inherit;
}
body.page-options > section[data-page="ext"],
body.page-options > nav ._trigger[data-trigger-value="options"] {
	display: none;
}
.button {
	cursor: pointer;
	text-decoration: underline;
}
nav, .stats {
	display: flex;
}
.stats > * {
	font-size: 10px;
	padding: 0 5px;
	background-color: #F7F7F7;
	border-radius: 5px;
	margin-right: 5px;
	line-height: 15px;
}
.stats > *:last-child {
	margin-right: 0;
}
nav {
	position: absolute;
  	top: 0;
  	left: 0;
  	background-color: #F7F7F7;
  	right: 0;
  	flex-direction: row-reverse;
}
nav > span {
	box-sizing: border-box;
	text-align: center;
	text-transform: capitalize;
	color: #A7A7A7;
	font-size: 11px;
	font-weight: bold;
	padding: 10px;
}
header {
	margin-bottom: 10px;
}
#startscreen {
	background-color: rgba(0,0,0,0.8);
	color: white;
	position: absolute;
	left: 0;
	right: 0;
	top: 30px;
	bottom: 30px;
	z-index: 999;
	text-align: center;
	font-size: 25px;
	padding-top: 30%;
	display: none;
}
.title {
	line-height: 30px;
	margin: 0;
	font-size: 18px;
	padding: 0;
}
.flair {
  font-family: verdana, arial, helvetica, sans-serif;
  height: 12px;
  line-height: 12px;
  border-radius: 12px;
  border: none;
  padding: 0 5px;
  max-width: 500px;
  vertical-align: middle;
  font-size: 10px!important;
}
.flair.non_presser {
	color: #fff;
  background: #888;
}
.flair.presser {
	  color: #fff;
  background: #820080;
}
.flair.presser {
	  color: #fff;
  background: #820080;
}
.flair.ttl {
	  color: #fff;
  background: #e59500;
}
.flair.last {
	  color: #fff;
  background: #e50000;
}
.main-content {
	text-align: center;
	margin-bottom: 20px;
}
.time-wrapper {
	font-size: 16px;
}
.participants {
	  color: rgb(115, 115, 115);
	  font-size: 11.9999990463257px;
	  font-style: normal;
	  font-variant: normal;
	  font-weight: normal;
	  height: auto;
	  text-align: right;
	  white-space: nowrap;
	  float: right;
	  margin-top: 10px;
}
footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #F7F7F7;
	color: #A7A7A7;
	padding: 10px;
	font-size: 10px;
}
footer > ._trigger {
	float: right;
}